* {
    box-sizing:border-box;
    /* border:1px solid red; */
}

 /* clearfix */

 .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body{
    background:lightgray;
}

.row{
    justify-content: center;
}

/* .fs1{
    font-size:x-large;
} */

.portfolio-buttons{
    margin-top:auto;
}

.nav{
    justify-content: center;
}

.page-section{
    padding:2em 0;
}

.copyright{
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-top: auto;
}

@media (min-width:1024px){

    .display-4{
        padding:0;
    }

    .mt-4{
        width:30%;
    }

    .layout{
        display:flex;
    }

    .position{
        width:100%;
    }

    .runner{
        width:40%;
        padding:0 15px;
    }

}






