* {
    box-sizing:border-box;
    /* border:1px solid red; */
}

 /* clearfix */

 .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body{
    background:lightgray;
}

.row{
    justify-content: center;
}

/* .fs1{
    font-size:x-large;
} */

.portfolio-buttons{
    margin-top:auto;
}

.nav{
    justify-content: center;
}

.page-section{
    padding:2em 0;
}

.copyright{
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-top: auto;
}


    
/* The animation code */
@keyframes greeting {
    0%   {background-color:#FFFFFF; left:0px; top:0px;}
    25%  {background-color:#FFFFFF; left:200px; top:0px;}
    50%  {background-color:#FFFFFF; left:200px; top:200px;}
    75%  {background-color:#FFFFFF; left:0px; top:200px;}
    100% {background-color:#FFFFFF; left:0px; top:0px;}
  }
  
  /* The element to apply the animation to */
.greeting{
    font-family:cursive;
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #FFFFFF;
    animation-name: greeting;
    animation-duration: 4s;
  }

.lead{
    font-family:cursive;
}




@media (min-width:1024px){

    .display-4{
        padding:0;
    }

    .mt-4{
        width:30%;
    }

    .layout{
        display:flex;
    }

    .position{
        width:100%;
    
    }

    .runner{
        width:40%;
        padding:0 15px;
    }


    .card{
        max-width:30%;
        margin:5px;
    }

}








